# Ignore uploads folder
/uploads/

# Ignore Go binary
*.exe
*.exe~
*.dll
*.so
*.dylib

# Ignore Go test binary
*.test

# Ignore Go coverage output
*.out

# Ignore any .env files
*.env

# Ignore IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Ignore compressed .webp
*.webp

# Ignore node_modules folder
node_modules/

# Ignore build artifacts
/build/

# Ignore bin
/bin

# Ignore encoding files
encoded.txt
test_base64.txt
payload.json